.App {
  text-align: center;
  font-family: Mariners;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@font-face {
  font-family: Mariners;
  src: url(./font/MLB\ Mariners\ Regular.ttf);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.d-flex {
  display: flex;
}

.space-around {
  justify-content: space-around;
}

.responsive {
  width: 100%;
  height: auto;
}

.playerlist-container {
  border: teal;
  border-width: 1rem solid;
  height: 10rem; 
}

.container {
  /* border: red solid;
  border-width: 1rem solid; */
  padding: 2rem;
  background-color: teal;
}

.margin {
  margin: 1rem;
}

.baseballReference-image-styling {
  border-radius: 4rem;
  height: 50%;
}

.align-items-center {
  align-items: center;
}