.App {
  font-family: Mariners;
  height: 100vh;
  width: 100%;
}

@font-face {
  font-family: Mariners;
  src: url(./font/MLB\ Mariners\ Regular.ttf);
}

.repeating_bg_image {
  background-image: url(https://mktg.mlbstatic.com/mariners/images/zoom/zoom_bg_01.jpg);;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
  position: fixed;  
}

.d-flex {
  display: flex;
}

.space-around {
  justify-content: space-around;
}

.responsive {
  width: 100%;
  height: auto;
}

.playerlist-container {
  border: #005C5C;
  border-width: 1rem solid;
  height: 10rem; 
}

.container {
  padding: 2rem;
  background-color: #005C5C;
  border-radius: 20%;
  width: 20rem;
  margin: auto;
  margin-top: 2rem;
  border-width: 2rem solid;
  border-color: #c4ced4;
  border-style: double;
  text-align: center;
}

.margin {
  margin: 1rem;
}

.baseballReference-image-styling {
  border-radius: 4rem;
  height: 50%;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.silver-color {
  color: #c4ced4;
}

.navy-color {
  color:#0C2C56;
}

.red-color {
  color: #D50032;
}

.map-style {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
}

.header-component-styling {
  background-color: #005C5C;
  height: 3rem;
  border-color: #c4ced4;
  border-top-style: double;
  border-bottom-style: double;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav-content {
  display: flex;
  margin-left: 2rem;
  margin-right: 2rem;
}

.title-component-styling {
  background-color: #0C2C56;
  color: #c4ced4;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}

.footer-component-styling {
  background-color: #005C5C;
  height: 3rem;
  /* margin-bottom: 2rem; */
  margin-top: 2rem;
  border-color: #c4ced4;
  border-top-style: double;
  border-bottom-style: double;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute; /* might need to fix this as bottom of page is not responsive */
  left: 0;
  bottom: 0;
  right: 0;
}